body {
	margin-bottom: 30px;
	margin-top: 20px;}

img {
	height: 100%;
	width: 900px;
	display: block;
    margin: 0 auto;

}

.frame {

	border: 20 px;
    border-radius: 25px;
    width: 19rem;

    padding: 10px;
    width: 350px;
    height: 320px; 

}
 .detail {

 	margin-left: -10px;
 	display:block;
 }

